{% extends "base.html" %}
{% block page_header %}
    {% set titulo = "Editar Servicio" %}
    {% set subtitulo = "Edita tu servicio" %}
    {% include "components/page_header.html" %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="form-container">
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Título</label>
                <input
                    type="text"
                    name="titulo"
                    class="form-control"
                    value="{{ servicio.titulo }}"
                    required
                >
            </div>

            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <textarea
                    name="descripcion"
                    class="form-control"
                    rows="4"
                    required
                >{{ servicio.descripcion }}</textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Categoría</label>
                <input
                    type="text"
                    name="categoria"
                    class="form-control"
                    value="{{ servicio.categoria }}"
                    required
                >
            </div>

            <button class="btn btn-primary w-100">
                Guardar cambios
            </button>

        </form>

    </div>
</div>

{% endblock %}
