{% extends "base.html" %}

{% block page_header %}
    {% set titulo = "Iniciar sesión" %}
    {% set subtitulo = "Accedé para interactuar con los servicios" %}
    {% include "components/page_header.html" %}
{% endblock %}

{% block content %}
<div class="form-container">

    <form method="post">
        <input class="form-control mb-3" name="email" type="email" placeholder="Email" required>
        <input class="form-control mb-4" name="password" type="password" placeholder="Contraseña" required>

        <button class="btn btn-primary w-100">Ingresar</button>
    </form>
</div>
{% endblock %}
