{% extends "base.html" %}

{% block page_header %}
    {% set titulo = "Iniciar sesión" %}
    {% set subtitulo = "Accedé para interactuar con los servicios" %}
    {% include "components/page_header.html" %}
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-5">

        <div class="card shadow-sm">
            <div class="card-body">

                <form method="POST">

                    <label class="fw-bold mb-2">Email</label>
                    <input class="form-control"
                           name="email"
                           type="email"
                           placeholder="tu@email.com"
                           required>

                    <label class="fw-bold mt-4 mb-2">Contraseña</label>
                    <input class="form-control"
                           name="password"
                           type="password"
                           placeholder="********"
                           required>

                    <button class="btn btn-primary w-100 mt-4">
                        Ingresar
                    </button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}