{% extends "base.html" %}

{% block page_header %}
    {% set titulo = "Servicios disponibles" %}
    {% set subtitulo = "Mirá los servicios disponibles en MisServicios" %}
    {% include "components/page_header.html" %}
{% endblock %}

{% block content %}

<!-- Buscador -->
<form onsubmit="return false;" class="mb-4">
    <div class="input-group flex-column flex-sm-row gap-2">

        <input
            type="text"
            id="buscador"
            name="q"
            class="form-control"
            placeholder="Buscar por nombre o categoría..."
            value="{{ query }}"
            autocomplete="off"
        >

    </div>
</form>

<!-- Cards -->
<div class="row g-4" id="contenedor-servicios">
    {% include "components/_cards_servicios.html" %}
</div>


<script>
const buscador = document.getElementById('buscador');
const contenedor = document.getElementById('contenedor-servicios');

let timeout = null;

buscador.addEventListener('input', function() {
    clearTimeout(timeout);

    timeout = setTimeout(async () => {
        const texto = buscador.value;

        const res = await fetch(`/api/buscar_servicios?q=${texto}`);
        const html = await res.text();

        contenedor.innerHTML = html;

    }, 300);
});
</script>

{% endblock %}